@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@1,200&display=swap');


// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$charcoal-blue: #22223B;
//our colours
$raisin-black:#191B24;
$spacecadet:#22223B;
$mountbatenpink:#8C7D8A;
$silverpink:#D0B8B3;
$isabelline:#F2E9E4;


// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$family-cursive: "Pacifico", cursive;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $raisin-black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

.main{
    font-family: $family-sans-serif;
}
.main-title{
    font-family: "Pacifico", cursive;
}

#stick{
    display: revert;
}
// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";