@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@1,200&display=swap');


// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$charcoal-blue: #22223B;
//our colours
$raisin-black:#191b24;
$spacecadet:#22223B;
$mountbatenpink:#8c7d8a;
$mountbatenpinktransparent:#8c7d8a9f;
$silverpink:#D0B8B3;
$isabelline:#F2E9E4;
$isabelline2:#F8F4F1;
$xiketic: #0E0E1B;

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$family-cursive: "Pacifico", cursive;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $spacecadet;
$widescreen-enabled: false;
$fullhd-enabled: false;

// navbar styles
$navbar-background-color:$raisin-black;
$navbar-item-color:$isabelline;
$navbar-dropdown-item-hover-color:$silverpink;
$navbar-dropdown-item-hover-background-color:$mountbatenpinktransparent;
$navbar-burger-color:$isabelline;
$navbar-item-hover-color:$mountbatenpink;


//subnav styles
$tabs-link-hover-color:$mountbatenpinktransparent;
$tabs-link-hover-border-bottom-color:$mountbatenpinktransparent;
$tabs-link-active-border-bottom-color:$mountbatenpink;
$tabs-link-active-color:$silverpink;
$tabs-link-color:$mountbatenpink;
$tabs-border-bottom-color:$isabelline;
$tabs-toggle-link-active-background-color:$mountbatenpink;
$tabs-toggle-link-active-border-color:$mountbatenpink;
$tabs-toggle-link-active-color:$mountbatenpink;

// Update some of Bulma's component variables
//$body-background-color:$raisin-black;
$control-border-width: 2px;
$input-border-color:$silverpink, transparent;
$input-shadow: none;
$button-background-color:$mountbatenpink;
// $tag-background-color:$mountbatenpink;


// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";

html {
    min-height: 100%
}
body {
  min-height: 100vh;
}

.main{
    font-family: $family-sans-serif;
}
.main-title{
    font-family: "Pacifico", cursive;
}

.card{
    border-radius: $radius;
}

#stick{
    display: revert;
}
.graphic{
    width:200px;
    height:50px;
    background:$isabelline;
    border-radius: $radius;
}

/*#home-body{
    background-color:$raisin-black;
}*/

.section {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}
.toggle {
    display: flex;
    justify-content: center;
}
body.light-mode {
    background-color: $isabelline;
    color: #333;
    transition: background-color 0.3s ease;
}
body.light-mode .box {
background-color: $isabelline2;
}

body.light-mode button {
background-color: $silverpink;

}
body.light-mode button.toggle-icons{
background-color: $isabelline;
}
body.light-mode .following {
color: $isabelline;
font-weight: 700;
font-size: 18px;
}
body.light-mode .card-header {
    background-color: $isabelline2;
}
body.light-mode .card-footer {
    background-color: $isabelline2;
    border-top-color:$isabelline2;
}
body.dark-mode .card-content {
    background-color: $xiketic;
}
body.light-mode .tag {
    background-color: $isabelline2;
}
body.light-mode .tabs li.is-active a {
    color: $mountbatenpink;
    border-bottom-color: $mountbatenpink;
}
body.light-mode .tabs li a {
    color: $mountbatenpink;
    border-bottom-color: $isabelline2;
}
body.dark-mode {
    background-color: $raisin-black;
    color: #dfdfdf;

    .navbar {
        background-color: $spacecadet;
    }

    .dark-mode-toggle > button {
        color: #999;
        &:last-child {
        color: lightblue;
        }
    }
    .graphic{
    width:200px;
    height:50px;
    background:$isabelline;
    border-radius: $radius;
}
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: $silverpink;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  
  .container {
    padding: 20px;
  }
  
  body.dark-mode a {
    color: #fa7c91;
  }
  body.dark-mode .following {
    color: $mountbatenpink;
    font-weight: 700;
    font-size: 18px;
  }
  body.dark-mode .comments {
    color: #fa7c91;
    
  }
  body.dark-mode p {
    color: $isabelline;
  }
  body.dark-mode button {
    background-color: $spacecadet;
    color: $isabelline;
  }
  body.dark-mode button.toggle-icons{
    background-color: $raisin-black;
  }
  body.dark-mode .box {
    background-color: $spacecadet;
}
body.dark-mode .card-header {
    background-color: $spacecadet;
}
body.dark-mode .card-footer {
    background-color: $spacecadet;
    border-top-color:$spacecadet;
}
body.dark-mode .card-content {
    background-color: $xiketic;
}
body.dark-mode .tag {
    background-color: $spacecadet;
    color: $isabelline2;
}
body.dark-mode .tabs li.is-active a {
    color: #fa7c91;
    border-bottom-color: $isabelline2;
}
body.dark-mode .tabs li a {
    color: $mountbatenpink;
    border-bottom-color: $mountbatenpink;
}

body.dark-mode .tabs ul {
    border-bottom-color:$raisin-black;
}
  .dark-mode-toggle {
    display: flex;
    margin: 0 auto;
    & > button {
      font-size: 1.2em;
      background: none;
      border: none;
      color: #ffc400;
      cursor: pointer;
      transition: color 0.3s ease;
      &:last-child {
        color: #666;
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  
  .toggle-control {
    position: relative;
    padding: 0 4px;
    display: flex;
    align-items: center;
  }
  
  input[type='checkbox'].dmcheck {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  
    &:checked + label {
      left: 30px;
    }
  
    &:focus-visible {
      outline: solid 2px white;
    }
  
    & + label {
      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      transition: all 0.3s ease;
      cursor: pointer;
      position: absolute;
      left: 2px;
      background: #fff;
      opacity: 0.9;
      background-color: #f6f6f6;
    }
  }

@media only screen and (max-width:600px) {
  /*html {
      background-color: $raisin-black;
      background-image: none;
    }*/
  }